fastapi
uvicorn[standard]
pydantic
tenacity
playwright
requests
bs4
openai
dotenv
pymupdf
jupyter
langchain
langchain_openai
langchain-core
chromadb
rank_bm25
reportlab 
dotenv
lxml
mysql-connector-python
sqlalchemy
apscheduler
celery
asyncio
logging
networkx
python-louvain
sentence-transformers