fastapi
uvicorn[standard]
pydantic
python-multipart
PyPDF2
tenacity
playwright
requests
bs4
openai
python-dotenv
pymupdf
jupyter
langchain
langchain_openai
langchain-core
chromadb
rank_bm25
reportlab
lxml
mysql-connector-python
sqlalchemy
apscheduler
celery
networkx
python-louvain
sentence-transformers
pandas
numpy
matplotlib
scikit-learn
gensimdd