apiVersion: v1
kind: Service
metadata:
  name: speedjobs-mysql
  namespace: skala-practice
spec:
  clusterIP: None
  type: ClusterIP
  ports:
  - name: mysql
    port: 3306
    targetPort: 3306
  selector:
    app: speedjobs-mysql